.page-not-found{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff !important;
}
.page-not-found h1::after{
    content: '!';
    padding-left: 20px;

}