.footer {
    background-color:#fff !important;
    color: #0e0d0d;
    text-align: center;
    padding: 20px 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-section {
    flex: 1;
    margin: 20px 0;
  }
  
  .footer-section h3 {
    margin-bottom: 15px;
    font-size: 1.5em;
  }
  
  .footer-section p,
  .footer-section a {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #3d3c3c;
    text-decoration: none;
    display: flex;
    flex-direction: column;
  }
  
  .footer-section a:hover {
    color: #ff6347; /* Tomato color */
  }
  
  .footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 10px;
  }
  
  .footer-bottom p {
    font-size: 1em;
    margin: 0;
  }
  .footer-bottom{
    background-color: #c9c9c9;
    height: 80px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon-fb{
    color: #3b5998;
    
  }
  .icon-ins{
    color:  #f556cb;
  }