.icon {
    vertical-align: middle;
    line-height: 1px;
    font-size: 20px;
  }
  .sidebar-brandk{
  color:#9e9ea4;
  }
  /* sidebar css */
  #sidebar {
    grid-area: sidebar;
    width: 250px;
    height: 100%;
    background-color:#011138;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
  .sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px 0px 30px;
    margin-bottom: 30px;
  }
  
  .sidebar-title > span {
    display: none;
  }
  
  .sidebar-brand {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
  }
  
  .sidebar-list {
    padding: 0;
    list-style-type: none;
  }
  
  .sidebar-list-item {
    padding: 20px 20px 20px 20px;
    font-size: 18px;
  }
  
  .sidebar-list-item:hover {
    background-color: #1145efee;
    cursor: pointer;
  }
  
  .sidebar-list-item > a {
    text-decoration: none;
    color: #9e9ea4;
  }
  .active {
    background-color: #1145efee;
    cursor: pointer;
  }
  
  .sidebar-responsive {
    display: inline !important;
    position: absolute;
    z-index: 12 !important;
  }
  
  .icon_header {
    vertical-align: middle;
    line-height: 1px;
    font-size: 20px; 
  }
  
  .icon, .icon_header {
    margin-right: 5px;
  }
  